Makefile.in
Makefile
*/Makefile.in
*/Makefile
*/*/Makefile.in
*/*/Makefile
aclocal.m4
autom4te.cache
m4
src/*.o
src/*.lo
src/*.la
src/*.libs
src/.deps
src/pcapstats
src/*/*.o
src/*/*.lo
src/*/*.la
src/*/.libs
src/*/.deps
*.swp
*/*.swp
*/*/*.swp
*/*/*/*.swp
config.*
install-sh
libtool
ltmain.sh
stamp-h1
configure
depcomp
missing
autoscan.log
configure.scan
make.out
make.err
